@import url(reset.css);
@import url(responsive.css);

*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    
}

.clearfix{
    clear: both;
}

.clearfix::after{
    display: block;
    content: "";
    clear: both;
}

/* ----------------------Layout----------------------------------- */

#top-bar{
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 48px;
    padding: 6px;
    /* background-color: rgb(206, 73, 73); */
}

#top-bar>div{
    display: flex;
    width: 1908px;
    height: 48px;
    /* background-color: rgb(224, 175, 175); */
}

#container{
    width: 282px;
    height: 48px;
    padding-left:15px;
    padding-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}


#container>div>a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}

#container>div:first-child{
    padding-left: 15px;
    width: fit-content;
    /* background-color: lightcyan */
}

#container>div:nth-child(2){
    padding: 0 15px;
    width: fit-content;
    /* background-color: lightcyan */
}

#container>div:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /* background-color: lightseagreen; */
}

#container>div:nth-child(3)>div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    /* background-color: brown; */
}



#container>div:nth-child(4)>a{
    display: block;
    white-space: nowrap;
    padding: 9px 23px;
    margin: 0 8px;
    background-color: #1a73e8;
    color: white;
    border: 1px solid transparent;
    font-weight: 500px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 4px;
    min-width: 96px;
}

#container>div:first-child:hover, #container>div:nth-child(2):hover{
    text-decoration: underline;
}

#container>div:nth-child(3)>div>svg{
    fill: #5f6368;
}

#container>div:nth-child(3)>div:hover{
    background-color:rgba(60,64,67,.08) ;
    transition: background-color 250ms;
    border-radius: 50%;
}

#container>div:nth-child(4)>a:hover{
    background-color:#1b66c9 ;
    transition: background-color 250ms;
    box-shadow: 0 1px 3px 1px rgb(66 64 67 / 15%), 0 1px 2px 0 rgb(60 64 67 / 30%);
}


/* -----------------------Main----------------------------- */

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#sec-logo{
    height: calc(100vh - 560px);
    display: flex;
    align-items: flex-end;
    max-height: 290px;
    min-height: 150px;
}

#ico-search{
    padding-left: 13px;
    width: 33px;
    height: 44px;
    fill: #9aa0a6;
    
}

#ico-mic{
    width: 44px;
    height: 44px;
    padding: 8px;
    cursor: pointer;
}

#search-form{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-input{
    max-width: 584px;
    width: 100%;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 0 8px 0 14px;
    display: flex;

}

#form-input>input{
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
}

#form-input:hover, #form-input:focus {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: transparent;
}

#sec-button{
    padding-top: 18px;
}

#sec-button button{
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    font-size: 14px;
    color: #3c4043;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    min-width: 54px;
    cursor: pointer;
    user-select: none;
    height: 36px;
    border-radius: 4px;
}

#sec-button button:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

#sec-button button:focus{
    border: 1px solid #4285f4;
    outline: none;
}

#sec-lang{
    font-size: 13px;
}

#sec-lang>a{
    text-decoration: none;
    padding: 0 3px;
}

#sec-lang>a:hover{
    text-decoration: underline;
}

/* -------------------------Footer------------------------------ */

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    
}

#footer-row-1{
    width: 100%;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    
}

#footer-row-2{
    width: 100%;
    padding: 15px 20px;
    
}


#footer-row-2 a{
    text-decoration: none;
    font-size: 14px;
    color: #70757a;
    padding: 15px;
    
}

#footer-row-1>span{
    
    color: #70757a;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}

#footer-row-2{
    display: flex;
    
}

#left-list>li:hover , #right-list>li:hover{
    text-decoration: underline;
}

#left-list>li, #right-list>li{
    display: inline;


}

/* ---------------------aside------------------------------ */

#apps{
    visibility: visible;
    position: absolute;
    /* background-color: red; */
    width: 328px;
    height: 448px;
    top: 75px;
    right: 10px;
    overflow: scroll;
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 2px 6px 2px rgb(60 64 67 / 15%);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 8px;


}

#container-app{
    display: flex;
    flex-direction: column;
}
#set-1, #set-2{
    width: 100%;
    height: 100%;
}

#set-1>ul>li>a, #set-2>ul>li>a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 84px;
    
}
.container{
    width: 53px;
    height: 53px;
    /* background-color: yellow; */
    overflow: hidden;
}

#set-1>ul, #set-2>ul{
    display: grid;
    height:100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);
    padding: 10px 10px 10px 14px;
    /* background-color: #4285f4; */
    
}

#set-1>ul>li, #set-2>ul>li{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    width: fit-content;
    height: fit-content;
    padding: 6px;
    
}

#set-1>ul>li span, #set-2>ul>li span{
    color: #202124;
    font-size: 14px;
    letter-spacing: 0.09px;
    line-height: 18px;


}

#set-1>ul>li img, #set-2>ul>li img{
    transform: scale(0.95);
}

#set-1>ul>li:first-child>a img{
    position: relative;
    top: -2574px;
    left: -5px;
}

#set-1>ul>li:nth-child(2)>a img{
    position: relative;
    top: -1067px;
    left: -5px;
}

#set-1>ul>li:nth-child(3)>a img{
    position: relative;
    top: -1329px;
    left: -5px;
}

#set-1>ul>li:nth-child(4)>a img{
    position: relative;
    top: -83px;
    left: -5px;
}

#set-1>ul>li:nth-child(5)>a img{
    position: relative;
    top: -805px;
    left: -5px;
}

#set-1>ul>li:nth-child(6)>a img{
    position: relative;
    top: -2769px;
    left: -5px;
}

#set-1>ul>li:nth-child(7)>a img{
    position: relative;
    top: -1131px;
    left: -5px;
}

#set-1>ul>li:nth-child(8)>a img{
    position: relative;
    top: -2705px;
    left: -5px;
}

#set-1>ul>li:nth-child(9)>a img{
    position: relative;
    top: -149px;
    left: -5px;
}

#set-1>ul>li:nth-child(10)>a img{
    position: relative;
    top: -1591px;
    left: -5px;
}

#set-1>ul>li:nth-child(11)>a img{
    position: relative;
    top: -1984px;
    left: -5px;
}

#set-1>ul>li:nth-child(12)>a img{
    position: relative;
    top: -673px;
    left: -5px;
}

#set-1>ul>li:nth-child(13)>a img{
    position: relative;
    top: -2246px;
    left: -5px;
}

#set-1>ul>li:nth-child(14)>a img{
    position: relative;
    top: -477px;
    left: -5px;
}

#set-1>ul>li:nth-child(15)>a img{
    position: relative;
    top: -935px;
    left: -5px;
}

#set-1>ul>li:nth-child(16)>a img{
    position: relative;
    top: -278px;
    left: -5px;
}

#set-1>ul>li>a:hover, #set-2>ul>li>a:hover{
    background-color: #e8f0fe;
    transition: background-color 250ms ;
    border-radius: 8px;
}

/* ---------------Seperator--------------------- */
.seperator{
    /* background-color: red; */
    position: relative;
    width: 100%;
    border-bottom: 1px solid #e8eaed
    

}

/* ----------------set-2------------------------ */

#set-2>ul>li:first-child>a img{
    position: relative;
    top: -2574px;
    left: -5px;
}

#set-2>ul>li:nth-child(2)>a img{
    position: relative;
    top: -1067px;
    left: -5px;
}

#set-2>ul>li:nth-child(3)>a img{
    position: relative;
    top: -1329px;
    left: -5px;
}

#set-2>ul>li:nth-child(4)>a img{
    position: relative;
    top: -83px;
    left: -5px;
}

#set-2>ul>li:nth-child(5)>a img{
    position: relative;
    top: -805px;
    left: -5px;
}

#set-2>ul>li:nth-child(6)>a img{
    position: relative;
    top: -2769px;
    left: -5px;
}

#set-2>ul>li:nth-child(7)>a img{
    position: relative;
    top: -1131px;
    left: -5px;
}

#set-2>ul>li:nth-child(8)>a img{
    position: relative;
    top: -2705px;
    left: -5px;
}

#set-2>ul>li:nth-child(9)>a img{
    position: relative;
    top: -149px;
    left: -5px;
}

#set-2>ul>li:nth-child(10)>a img{
    position: relative;
    top: -1591px;
    left: -5px;
}

#set-2>ul>li:nth-child(11)>a img{
    position: relative;
    top: -1984px;
    left: -5px;
}

#set-2>ul>li:nth-child(12)>a img{
    position: relative;
    top: -673px;
    left: -5px;
}

#set-2>ul>li:nth-child(13)>a img{
    position: relative;
    top: -2246px;
    left: -5px;
}

#set-2>ul>li:nth-child(14)>a img{
    position: relative;
    top: -477px;
    left: -5px;
}

#set-2>ul>li:nth-child(15)>a img{
    position: relative;
    top: -935px;
    left: -5px;
}

#set-2>ul>li:nth-child(16)>a img{
    position: relative;
    top: -278px;
    left: -5px;
}


/* ---------------Scroll-bar------------------- */

aside::-webkit-scrollbar {
    width: 16px;
}
aside::-webkit-scrollbar-thumb {
    background: #dadce0;
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 8px;
    box-shadow: none;
    min-height: 50px;
}
aside::-webkit-scrollbar-track, .EHzcec::-webkit-scrollbar-track:hover {
    background: none;
    border: none;
}